{% extends 'base.html' %}

{% block title %}Equipo del Grupo 5{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="about">
            <h1 class="text-center display-5 fw-bold"><span style="color: rgb(104, 7, 134)">Acerca de</span> DeFi Blog</h1>
            <section>
                <p class="fs-6 text-justify">En este blog, te proporcionamos información sobre Finanzas Descentralizadas (DeFi), una nueva y emocionante tendencia en el mundo financiero.</p>
            </section>
            <section>
                <h2><span style="color: rgb(104, 7, 134)">Misión de</span> DeFi Blog</h2>
                <p class="fs-6 text-justify">Nuestro objetivo es educar a nuestros lectores sobre las diferentes plataformas y protocolos DeFi, sus ventajas y riesgos, así como proporcionar noticias e información relevante sobre este campo en constante evolución.</p>
            </section>
            <div class="team">
                <div>
                    <h2 class="text-center" style="color: rgb(104, 7, 134)">Equipo G5</h2>
                </div>
                <div class="members text-center">
                <ul class="list-group">
                    <li class="list-group-item">Alejandro Lencina</li>
                    <li class="list-group-item">Carlos Fernando Maciel</li>
                    <li class="list-group-item">Hector Carlos Larre</li>
                    <li class="list-group-item">Lucas Gabriel Gomez</li>
                    <li class="list-group-item">Matheo Cardozo</li>
                    <li class="list-group-item">Miguel Angel Ivanoff</li>
                    <li class="list-group-item">Nicolas Dellamea</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
