{% extends 'base.html' %}
{% block title %} Acerca de Nosotros {% endblock %}

{% block content %}
    <h2>Acerca de nuestro blog DeFi</h2>
    <section>
        <p>En este blog, te proporcionamos información sobre Finanzas Descentralizadas (DeFi), una nueva y emocionante tendencia en el mundo financiero.</p>
    </section>
    <section>
        <h2>Descripción del blog</h2>
        <p>Nuestro objetivo es educar a nuestros lectores sobre las diferentes plataformas y protocolos DeFi, sus ventajas y riesgos, así como proporcionar noticias e información relevante sobre este campo en constante evolución.</p>
    </section>
    <section>
        <h2>Equipo detrás del blog</h2>
        <ul>
            <li>Alejandro Lencina</li> 
            <li>Carlos Fernando Maciel</li> 
            <li>Dellamea Nicolas</li>
            <li>Hector Carlos Larre</li>
            <li>Lucas Gabriel Gomez</li>
            <li>Matheo Cardozo</li>
            <li>Miguel Angel Ivanoff</li>
        </ul>
    </section>
{% endblock %}