{% extends 'base.html' %}
{% block title %} {{ category }} {% endblock %}
{% block content %}
    {% if category_article %}
    <div class="categories mx-5 mt-4">
        <h2 class="mt-3 text-center" style="color: rgb(104, 7, 134)">{{ category }}</h2>
    
        {% if user.is_superuser or user.es_colaborador %}
            <a href="{% url 'articulos:create-article' %}" class="btn btn-success mb-3">Crear un nuevo artículo</a>
        {% endif %}
    </div>
            <div class="row mx-5">
                {% for articulo in category_article %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            {% if articulo.imagen %}
                                <img src="{{ articulo.imagen.url }}" class="card-img-top" alt="Articulo Image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ articulo.titulo }}</h5>
                                <p class="card-text">{{ articulo.bajada }}</p>
                                <p class="card-text">Autor: {{ articulo.autor }}</p>
                                <a href="{% url 'articulos:detail-article' articulo.id %}" class="btn btn-success">Ver más</a>
                                {% if user.is_superuser or user.es_colaborador %}
                                    <a href="{% url 'articulos:edit-article' articulo.id %}" class="btn btn-success">Editar</a>
                                    <a href="{% url 'articulos:delete-article' articulo.id %}" class="btn btn-danger">Eliminar posteo</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No hay artículos disponibles.</p>
                {% endfor %}
            </div>
    {% else %}
        <h2>Esta categoría no contiene ningún artículo</h2>
        {% if user.is_superuser or user.es_colaborador %}
        <a href="{% url 'articulos:create-article' %}" class="btn btn-success mb-3">Crear un nuevo artículo</a>
        {% endif %}
    {% endif %}
        
    {% if is_paginated %}
        <div class="container">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <span class="current-page">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
