{% extends 'base.html' %}
{% block title %}Contacto{% endblock %}
{% block content %}
  <div class="container contact my-4">
    <div class="row justify-content-center">
      <div class="col-lg-9">
      <h2 class="text-center display-5 fw-bold" style="color: rgb(104, 7, 134)">Contactanos</h2>
      <p class="fs-5">Ponete en contacto con nosotros a través de este formulario:</p>
      <form method="post" action="{% url 'blog:contact' %}">
      {% csrf_token %}
      {{form.as_p}}   
      <button type="submit" class="btn">Enviar mensaje</button>
    </form>

    {% if messages %}
      <ul id="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
