{% extends 'base.html' %}

{% block title %}Eliminar Artículo{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <h2>¿Estás seguro que deseas eliminar este artículo?</h2>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" onclick="goBack()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
    {% block footer %}
    <footer class="d-flex justify-content-between mt-3 px-4 py-3 fixed-footer">
        <div>
          <p class="mb-0">Informatorio | Grupo 5</p>
        </div>
        <div>
          <ul class="d-flex gap-3 list-unstyled mb-0">
            <li><a href="#"><i class="link-light bi-facebook"></i></a></li>
            <li><a href="#"><i class="link-light bi-twitter"></i></a></li>
            <li><a href="#"><i class="link-light bi-instagram"></i></a></li>
          </ul>
        </div>
      </footer>
    {% endblock %}
    <script>
      function goBack() {
          window.history.back();
      }
    </script>
{% endblock content %}
