{% extends 'base.html' %}

{% block title %} {{ articulo.titulo }} {% endblock %}

{% block content %}

<article class="article-detail">
    <h2>{{ articulo.titulo }}</h2>
    <p>{{ articulo.bajada }}</p>
    {% if articulo.imagen %}
        <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" class="img-fluid">
    {% endif %}
    <div class="contenido">
        {{ articulo.contenido | safe }}
    </div>
    <p>Autor: {{ articulo.autor }}</p>
    <p>Categoría: <a href="{% url 'articulos:category' articulo.categoria|slugify %}">{{ articulo.categoria }}</a></p>
    <p>Etiquetas:</p>
    <ul>
        {% for etiqueta in articulo.etiqueta.all %}
            <li>{{ etiqueta }}</li>
        {% endfor %}
    </ul>
    <p>Fecha de publicación: {{ articulo.creacion|date:"d/m/Y H:i" }}</p>
    <p>Última actualización: {{ articulo.actualizacion|date:"d/m/Y H:i" }}</p>
    {% if user.is_superuser or user.es_colaborador %}
        <div class="article-buttons">
            <a href="{% url 'articulos:edit-article' articulo.id %}" class="btn btn-success">Editar</a>
            <a href="{% url 'articulos:delete-article' articulo.id %}" class="btn btn-danger">Eliminar posteo</a>
        </div>
    {% endif %}
</article>

<article class="card">
    <h2>Comentarios</h2>
    {% if user.is_authenticated %}
        <form method="post">{% csrf_token %}
            {{ formulario_comentario }}
            <button type="submit">Comentar</button>
    {% else %}
        <p>Debes iniciar sesión para comentar.</p>
        <a href="{% url 'login' %}">Iniciar sesión</a>
    {% endif %}
    {% for comentario in articulo.comentario_set.all %}
        <div class="comentario">
            <h5>{{comentario.user.username}}</h5>
            <p><small>{{ articulo.creacion|date:"d/m/Y H:i" }}</p></small>   
            <p>{{comentario.texto}}</p>       
            {% if user.is_superuser or user.es_colaborador or user == comentario.user %}        
                <a href="{% url 'articulos:edit-comment' comentario.id %}">Editar<i class="fa-solid fa-trash"></i></a>
                <a href="{% url 'articulos:delete-comment' comentario.id %}">Eliminar<i class="fa-solid fa-trash"></i></a>
            {% endif %}
        </div>
    {% empty %}
        <p>No hay comentarios</p>
    {% endfor %}
  </div>
  </form>
</article>

{% endblock content %}