{% extends 'base.html' %}
{% block title %} Iniciar Sesión {% endblock %}
{% block content %}

<div class="mt-3 mb-5">
	<h1 class="text-center"><span style="color: rgb(104, 7, 134)">Bienvenido de nuevo a</span> DeFi Blog</h1>
</div>
	<div class="container login mt-5">
		<div class="d-flex justify-content-center">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Ingresá a tu cuenta</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Iniciar Sesión">
				   			</div>
					</form>

				</div>
				{% if messages %}
				    {% for message in messages %}
				        <p id="messages" class="alert alert-danger">{{ message }}</p>
				    {% endfor %}
			    {% endif %}
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						No tienes una cuenta? <a href="{% url 'register' %}" class="ml-2">Crear cuenta</a>
					</div>
			
				</div>
			</div>
		</div>
	</div>

<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field 
*/

//Query All input fields
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Usuario...';
form_fields[2].placeholder='Contraseña...';


for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>
{% endblock content %}